.footer {
  background-color: $darkBlue;
  color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  @include breakpoint-up(large) {
    padding-bottom: 0;
  }
  &__grid {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1rem;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    > a {
      margin-left: 1rem;
    }
  }
  &__links {
    margin-bottom: 2rem;
    grid-column: span 2;
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    a {
      display: block;
      color: $lightGrayishBlue;
      margin-bottom: 1rem;
      font-size: 1rem;
      @include breakpoint-up(large) {
        text-align: left;
      }
    }
  }
}
.social__img {
  margin-bottom: 1rem;
  height: auto;
}
.copy {
  @include breakpoint-up(large) {
    text-align: right;
  }
  p {
    margin-top: 2rem;
    color: $grayishBlue;
  }
}
