.hero {
  @include breakpoint-up(large) {
    margin-top: 5rem;
    position: relative;
  }
  margin-top: 3.8rem;
  background-color: $veryLightGray;
  // border: 1px solid magenta;
  // margin-bottom: 6rem; //esto para desktop

  .container-hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }
  &__img {
    // z-index: 1;
    // border: 1px solid lime;
    position: relative;
    background-image: url("./../images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
    // estilos  desktop img
    @include breakpoint-up(large) {
      height: 41rem;
      min-height: 41rem;
      flex: 3;
      order: 2;
      background: none;
      // background-image: url(/images/bg-intro-desktop.svg);
      // background-position: left center;
      position: static;
    }
    &::after {
      @include breakpoint-up(large) {
        content: "";
        background-image: url("./../images/bg-intro-desktop.svg");
        background-position: left -70px top -250px;
        position: absolute;
        width: 55%;
        right: 0;
        height: 100%;
        // border: 1px solid royalblue;
      }
    }
    &::before {
      // border: 1px solid orange;
      content: "";
      position: absolute;
      background-image: url("./../images/image-mockups.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 100%;
      width: calc(100% - 3rem);
      right: 50%;
      transform: translateX(50%);
      // estilos par desktop
      @include breakpoint-up(large) {
        // background-color: lightblue;
        z-index: 5;
        height: 115%;
        top: 0;
        width: 50%;
        bottom: 0;
        right: 0;
        // border: 1px solid red;
        transform: translateX(0);
        background-size: 110%;
        background-position: left 60px bottom -30px;
        // transform: translateY(-10px);
        // margin-bottom: -100px;
      }
    }
  }
  &__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    // estilos desktop TEXT
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
    h1 {
      // border: 1px solid magenta;
      font-weight: 300;
      color: $darkBlue;
      line-height: 1.15;
      font-size: 2.3125rem;
      margin-bottom: 1.5rem;
      @include breakpoint-up(large) {
        font-size: 3.5rem;
      }
    }
    p {
      // border: 1px solid green;
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
